#include "Base.xcconfig"

COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
EASYTIER_APPLICATION_IDENTIFIER = 84K5NV46VA.com.kkrainbow.easytier.mac
EASYTIER_BUILD_CONFIGURATION = release
EASYTIER_CODE_SIGN_ENTITLEMENTS = Packaging/EasyTierMac.entitlements
EASYTIER_CODE_SIGN_IDENTITY = Developer ID Application: GANGGANG GU (84K5NV46VA)
EASYTIER_DEVELOPMENT_TEAM = 84K5NV46VA
EASYTIER_PROVISIONING_PROFILE_SPECIFIER = Easytier
STRIP_INSTALLED_PRODUCT = YES
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
