<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>GatewayPrivilegedHelper</string>
    <key>CFBundleIdentifier</key>
    <string>com.coldkiller.gateway.helper</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>GatewayPrivilegedHelper</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(GATEWAY_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>GatewayBuildTime</key>
    <string>$(GATEWAY_BUILD_TIME)</string>
    <key>GatewayCommit</key>
    <string>$(GATEWAY_COMMIT)</string>
    <key>GatewayVersion</key>
    <string>$(GATEWAY_VERSION)</string>
</dict>
</plist>
